<mat-sidenav-container class="h-100vh">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset() === true) ? 'dialog' : 'navigation'"
    [mode]="(isHandset()) ? 'over' : 'side'" [opened]="(isHandset()) === false">
    <mat-toolbar class="bg-primary">
      <span class="flex-grow flex-shrink basis-auto"></span>
      @if (isHandset() === true) {
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon color="accent">close</mat-icon>
      </button>
      }
    </mat-toolbar>
    <mat-nav-list>
      @for (route of featureRoutes; track route) {
      <a mat-list-item [routerLink]="route.url">
        <span style="display: flex; align-items: center;">
          <mat-icon>{{ route.icon }}</mat-icon> &nbsp;
          <span>{{ route.name }}</span>
        </span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="flex items-center">
        <button mat-icon-button (click)="drawer.toggle()" style="padding-top: 0.75rem;">
          @if (!drawer.opened) {
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          } @else if (drawer.opened) {
          <mat-icon color="accent">close</mat-icon>
          }
        </button> &nbsp;
        <button routerLink="/" mat-flat-button color="primary">
          <span class="text-lg">
            FarmPure
          </span>
        </button>
      </div>

      <span class="flex-grow flex-shrink basis-auto"></span>

      <div>
        @if (user() === null) {
        <button mat-button (click)="login()">Login</button>
        }
        @else if (user() !== null) {
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/account">Account</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
        }
      </div>
    </mat-toolbar>
    <!-- contents -->
    <section class="content">
      <router-outlet />
    </section>

    <!-- <footer>
      <mat-toolbar class="flex flex-row flex-wrap justify-around" color="primary"
        [ngStyle]="(isHandset() === true) ? {'min-height': '5rem'} : {}">
        <span>
          <code>v0.0.1-alpha3</code>
        </span>

        <a target="_blank" href="https://docs.edgeflare.io">
          Docs
        </a>

        <a target="_blank" href="https://github.com/edgeflare/farmpure-ui">
          GitHub
        </a>

        <a target="_blank" href="https://edgeflare.io">
          Built with ❤️ by
          <span class="text-accent font-semibold text-lg">edgeflare.io</span>
        </a>
      </mat-toolbar>
    </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
